@import url('https://fonts.googleapis.com/css?family=Open+Sans:600');

html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
}

main {
    text-align: center;
    padding: 20px;
    margin: auto;
}

h1 {
    margin-top: 0;
}

img {
    min-width: 200px;
    width: 20vw;
    margin: 20px 0;
}

p {
    font-size: 16pt;
    width: 80%;
    margin: 20px auto 40px auto;
}

button {
    font-size: 14pt;
    text-decoration: none;
    background-color: white;
    padding: 8px;
    border: 1px solid black;
    margin: 0 0 10px 0;
}

button:hover {
    cursor: pointer;
}

span {
    margin: 20px 0 20px 10px;
}

select {
    font-size: 14pt;
    background-color: white;
    min-width: 100px;
    width: auto;
    height: 100%;
    padding: 7px 35px 7px 7px;
    border: 1px solid black;
    margin: 0 0 10px 0;
}

label {
    font-size: 14pt;
    margin: 0 5px 10px 0;
}

#name-div {
    display: inline-block;
}

a, a:visited, a:link {
    display: inline-block;
    font-size: 14pt;
    color: black;
    text-decoration: none;
    margin-top: 20px;
    transition: transform ease-in-out 0.3s;
}

a:hover {
    transform: scale(1.15);
}